*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#010314;
}
body{
    background-color:rgb(240, 240, 255);


}
header{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
}

.main{
text-align: center;
    translate:0 70px;
    h1{
    
    }

}
