<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    <h1>douguou thi</h1>
     <form action="{{ url_for('login_t') }}" method="GET">
        <input type="text" placeholder="nname" name="name"/>
        <input type="passworld" placeholder="password" name="psw"/><br>
        <input type="submit" value="tambali"/>
     </form>
</body>
</html>